# SPDX-FileCopyrightText: 2026 Cameron Brooks
# SPDX-License-Identifier: GPL-3.0-only
# Python packages for the Pedalboard tests (tests/*.py): the host pinned to the version the release was verified with, the numerics
# as ranges so that Debian 12's Python 3.11 and macOS's 3.13 both resolve (verified with numpy 2.3.5 and scipy 1.18.1 on macOS).
# The fitting pipeline (fit/) needs numba as well.
pedalboard==0.9.21
numpy>=2.0,<3
scipy>=1.13,<2
